<ion-header>
  <ion-navbar color="ui">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>
  <ion-select [(ngModel)]="selectedDevice" (ionChange)="afterDeviceSelect()">
    <ion-option *ngFor="let device of user.devices" [value]="device">{{device.name}}</ion-option>
  </ion-select>

  <div class="circle">
    <div class="circle-cut"></div>
    <div [ngClass]="{'distanceAvailable': lastLocation != null, 'noDistance': lastLocation == null}"> {{distanceDisplay}} </div>
    <span> {{unit}} </span>
  </div>
  <!-- <div *ngIf="phoneLocation == null">Waiting for phone GPS...</div> -->
  <!-- <div style="color: white"> phonegps: {{data}}, error: {{error}}</div>
  <div style="color: white"> gps: {{phoneLocation.lat}}, {{phoneLocation.lon}}</div> -->

  <ion-item no-lines class="item item-borderless">
    <ion-label>Vibration</ion-label>
    <ion-checkbox [(ngModel)]="vibra" (ionChange)="saveVibraSetting()"></ion-checkbox>
  </ion-item>

</ion-content>
